@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom pagination styling */
.custom-pagination .swiper-pagination-bullet {
  width: 12.5px;
  height: 12.5px;
  background-color: rgb(50, 50, 50);
  margin: 0 8px;
  border-radius: 50%;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: black;
}

/* EMBLA CSS */

.embla__slide {
  flex: 0 0 100%; /* Slide covers 66% of the viewport */
  min-width: 0;
}

.emblaa__slide {
  flex: 0 0 20%; /* Slide covers 20% of the viewport */
  min-width: 0;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
